*{
    margin: 0;
    padding: 0;
    }
    body
    {
        background-color: black;  
    }
    .main{
        width:100%;
        background-position: center; 
        background-size: cover;
        height: 500vh;
        background-color: black;  


    }
    .navbar{
        width:1200px;
        height:75px;
        margin:auto;
    }
    .icon{
        width:200px;
        float:left;
        height:70px;
    }
    .logo{
        color: #fbff00;
        font-size:35px;
        font-family:Arial;
        padding-left:10px;
        float:left;
        padding-top:10px;
    }
    .menu{
    width: 400px;
    float:left;
    height:70px;
    }
    ul{
        margin-left: -50px;
        float:left;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    ul li{
        list-style:none;
        margin-left:62px;
        margin-top:27px;
        font-size: 14px;
        z-index: 1;
    }
    ul li a{
        text-decoration:none;
        color: #fff;
        font-family:Arial;
        font-weight:bold;
        letter-spacing: 1px;
        transition:0.4s ease-in-out;
    }
    ul li::after{
content: '';
width:0%;
height:2px;
background: #fbff00;
display:block;
margin: auto;
transition: 0.5s;
    }
    ul li:hover::after{
width:100%;
    }
    ul li a:hover{
        color: #fbff00;
    }
    .pages
    {
        display:none;
    }
ul li:hover .pages
    {
    display:block;
    position:absolute;
    margin-top:-10px;
    margin-left:-45px;
    }
    ul li:hover .pages ul
    {
        display:block;
        margin:5px;
    }
    ul li:hover .pages ul li
{
    width:50px;
    padding:0px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
ul li:hover .pages ul li:last-child
{
    border-bottom:none;
}
ul li:hover .pages ul li a:hover
{
    color:#fbff00;
}

    .search{
        width:330px;
        float:left;
        margin-left:270px;
    }
    .srch{
        font-family: 'Times New Roman';
        width: 200px;
        height: 40px;
        background: transparent;
        border:1px solid #fbff00;
        margin-top:13px;
        color: rgb(255, 255, 255);
        border-right:none;
        font-size:20px;
        float:left;
        padding:10px;
        border-bottom-left-radius: 15px;
        border-top-left-radius:15px;
    }
    .btn{
        width:100px;
        height: 40px;
        background: #fbff00;
        border:2px solid #fbff00;
        margin-top:13px;
        color : rgb(0, 0, 0);
        font-size:15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .btn:focus{
        outline:none;
    }
    .srch:focus{
        outline: none;
    }
    button{
        color:#ffffff;
        font-size:medium;
        padding: 10px 25px;
        background: transparent;
        background-color: #000000;
        border: 1px solid #fbfcfd;
        border-radius: 20px;
        outline: none;
        cursor:pointer;
        transition: 0.4s ease;
    }
button:hover{
    background-color: #fbff00;
    color: #000000;
    transform: scale(1.1);
}

p{
color:  #fbff00;
font-size: 50px;
  font-family: Garamond, serif;
font-style: oblique;
margin-bottom: 30px;
margin-top: 50px;
}
.seventeen {
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    grid-template-rows: 400px 400px 400px;
    row-gap: 165px;
    column-gap: 50px;
    width: 1000px;
    height: 1000px;
    margin-left: 15px;
margin-top: 50px;
}
.onne {
    height: 350px;
    width: 350px;
    border-radius: 8px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.onne:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.4;

}
.twwo {
    display: flex;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 30px;
    color: white;
}
.three{

    display: flex;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 15px;
    color:  white;
 
}
 .four:italic{
  font-weight: lighter;
    font-size: 30px;
    margin-top: 50px;
    color: #C0C0C0;
font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
 .play{
margin-top: 150px;
margin-left: 100px;

}
ol {
   
  
margin-top: 50px;
}
ol li {
  background: #c7f0e1 ;
  color:black;
  padding: 40px;
  margin-right: 50px;
margin-top: 130px;
}
 
