*{
    margin: 0;
    padding: 0; 
}

.main{
    width:100%;
    background-color: black;  
    background-position: center; 
    background-size: cover;
    background-repeat: fixed ; 
}

.navbar{
    width:1200px;
    height:75px;
    margin:auto;
}

.icon{
    width:200px;
    float:left;
    height:70px;
}

.logo{
    color: #fbff00;
    font-size:35px;
    font-family:Arial;
    padding-left:20px;
    float:left;
    padding-top:10px;
}

.menu{
width: 400px;
float:left;
height:70px;
}

ul{
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
}

ul li{
    list-style:none;
    margin-left:62px;
    margin-top:27px;
    font-size: 14px;
}

ul li a{
    text-decoration:none;
    color: #fff;
    font-family:Arial;
    font-weight:bold;
    transition:0.4s ease-in-out;
}

ul li::after{
    content: '';
    width:0%;
    height:2px;
    background: #fbff00;
    display:block;
    margin: auto;
    transition: 0.5s;
}

ul li:hover::after{
    width:100%;
}

ul li a:hover{
    color: #fbff00;
}

.pages{
    display:none;
}

ul li:hover .pages{
    display:block;
    position: absolute;
    margin-top:-10px;
    margin-left:-60px;
}

ul li:hover .pages ul{
    display:block;
    margin:5px;
}

ul li:hover .pages ul li{
    width:50px;
    padding:0px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}

ul li:hover .pages ul li:last-child{
    border-bottom:none;
}

ul li:hover .pages ul li a:hover{
    color:#fbff00;
}

.search{
    width:330px;
    float:left;
    margin-left:270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border:1px solid #fbff00;
    margin-top:13px;
    color: rgb(255, 255, 255);
    border-right:none;
    font-size:20px;
    float:left;
    padding:10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius:15px;
}

.btn{
    width:100px;
    height: 40px;
    background: #fbff00;
    border:2px solid #fbff00;
    margin-top:13px;
    color : rgb(0, 0, 0);
    font-size:15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn:focus{
    outline:none;
}

.srch:focus{
    outline: none;
}

button{
    color:#ffffff;
    font-size:medium;
    padding: 10px 25px;
    background: transparent;
    background-color: #000000;
    border: 1px solid #fbfcfd;
    border-radius: 20px;
    outline: none;
    cursor:pointer;
    transition: 0.4s ease;
}

button:hover{
    background-color: #fbff00;
    color: #000000;
    transform: scale(1.1);
}
body{
    background-color: #1a1a1a;
    font-family: 'Nanum Gothic', sans-serif;
}
h1 {
    color: orange;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5%;
}
.article {
    letter-spacing: 2px;
    margin: 0 1% 2% 1%;
    display: inline-block;
    width: 50%;
    height: auto;
    color: #fbff00;
    font-size: 20px;
    margin-left: 5%;
    font-family: 'Cairo', sans-serif;
}
.container3 {
    display: flex;
}
.right_image1 {
    border-radius: 20px;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    -o-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
}
.right_image:hover {
    Cursor:pointer;
    Transform:translateY(-15px);
}
.right_image {
    border-radius: 20px;
     transition: ease-in-out;
    transition-duration: .5s;
    width: 23%;
    margin: 2% 12% 0 12%;
}
table {
    margin-left: 5%;
    position: relative;
    left: 15%;
    border-spacing: 5px;
    margin: 1px;
    padding: 1px;
}
table td {
    border-radius: 5px;
    width: 31%;
    background-color: #000000;
    border: solid 2px yellow;
    color: #fbff00;
    padding: 1px;
    font-size: 20px;
    text-align: center;
}
table thead td {
    text-align: center;
    color: orange;
}
.table1 {
    margin-left: auto;
    display: inline;
}
.image5 {
    margin-left: 5%;
    width: 50%;
}
.dark-mode{
    background-image: url("../media/Amazing-must-visit-Montreal-art-galleries.jpg");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
   }
   iframe {
       margin: 2%;
       width: 41%;
       border-radius: 20px;
       transition: ease-in-out;
       transition-duration: .5s;
   }
   iframe:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px 5px rgb(0, 0, 0), 0 3px 10px 3px rgb(0, 0, 0);
}
   .right_video {
        margin-left: auto;
        position: relative;
   }
   hr {
       border-color: #fbff00;
       box-shadow: 0 2px 4px 5px rgba(194, 132, 0, 0.356), 0 3px 10px 3px rgba(255, 187, 2, 0.466);
       border-width: 50%;
   }
   .video1 {
       display: flex;
       justify-content: space-evenly;
   }